<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The HRM</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://i.postimg.cc/x1f905XN/hrm-logo-hrm-letter-hrm-letter-logo-design-initials-hrm-logo-linked-with-circle-and-uppercase-monogr.jpg">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</head>

<body>
    <nav class="bg-gray-800 px-4 ">
        <div class="bg-gray-800 fixed top-0 start-0 z-50 flex justify-between px-3 w-full" id="sticky-banner">
            <ul class="flex space-x-4 sm:mt-0">
                <li><a href="/job/apply"
                        class="relative top-1 inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-gray-800 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">The
                            HRM</span>
                    </a></li>
                <li><a href="/job/form"
                        class="relative top-1 start-10 inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-gray-800 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">Post
                            Job</span>
                    </a></li>
                <li>
                    <img class="h-12 rounded-md" style="mix-blend-mode: color-dodge; user-select: none;" alt="Logo"
                        src="https://i.postimg.cc/g2FN87Xx/hrm-logo-hrm-letter-hrm-letter-logo-design-initials-hrm-logo-linked-with-circle-and-uppercase-monogr.jpg" />
                </li>
            </ul>

        </div>
    </nav>

    <br /> <br /> <br />
    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
        <h2 class="text-center "><span
                class="text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Post
                Your Job Here</span></h2>
        <div class="grid gap-4 mb-4 sm:grid-cols-2 px-8 py-2 top-1">
            <form action="/job/add/new" method="post" class="px-4">
                <div class="grid gap-4 mb-4 sm:grid-cols-2">
                <div class="">
                    <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Job ID</label>
                    <input type="text" name="id" id="id" autocomplete="given-name"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="block text-sm font-medium leading-6 text-gray-900">
                    <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Job Title</label>
                    <input type="text" name="title" id="title" autocomplete="given-name"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="form-group">
                    <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Company name</label>
                    <input type="text" name="company_name" id="company_name"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="block text-sm font-medium leading-6 text-gray-900">
                    <label for="location" class="block text-sm font-medium leading-6 text-gray-900">Location</label>
                    <input type="text" name="location" id="location"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="form-group">
                    <label for="desc" class="block text-sm font-medium leading-6 text-gray-900">Job Description</label>
                    <textarea name="description" id="description"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                </div>
                <div class="form-group">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Company Logo (url)</label>
                    <input type="text" name="imageUrl" id="imageUrl"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="form-group">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Job Type</label>
                    <input type="text" name="job_types" id="job_types"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="form-group">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Age</label>
                    <input type="text" name="age" id="age"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="form-group">
                    <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                    <input type="text" name="email" id="email"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="form-group">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Date</label>
                    <input type="date" name="Date" id="Date"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="form-group">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Apply Url</label>
                    <input type="text" name="url" id="url"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>

                <div class="form-group">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Post on</label>
                    <input type="text" name="posted_on" id="posted_on"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>

                <div class="form-group">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Experience</label>
                    <input type="text" name="experience" id="experience"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="form-group">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Salary</label>
                    <input type="text" name="salary" id="salary"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="form-group">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Requirements</label>
                    <input type="text" name="Requirements" id="Requirements"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>

                <div class="form-group">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Shift and
                        schedule</label>
                    <input type="text" name="Shift_and_schedule" id="Shift_and_schedule"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="form-group">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Required Degree</label>
                    <input type="text" name="degree" id="degree"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="form-group">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Benefits &
                        Perks</label>
                    <input type="text" name="benefits_perks" id="benefits_perks"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="form-group">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Posted By</label>
                    <input type="text" name="posted_by" id="posted_by"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="form-group">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Test and Task </label>
                    <input type="text" name="task" id="task"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>

                <div class="form-group">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Number of openings
                    </label>
                    <input type="text" name="openings" id="openings"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="form-group">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900"> Langauge</label>
                    <input type="text" name="langauge" id="langauge"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="form-group">
                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Skill </label>
                    <input type="text" name="skills" id="skills"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="form-group">
                    <label for="" class="block text-sm font-medium leading-6 text-gray-900">Key Responsibility </label>
                    <input type="text" name="key_responsibility" id="key_responsibility"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="form-group">
                    <label for="" class="block text-sm font-medium leading-6 text-gray-900">HR Contact No </label>
                    <input type="text" name="phone" id="phone"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div><br />
                <input type="submit"
                    class="rounded-md cursor-pointer px-6 py-3.5 text-base font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    value="Post Job" />
                </div>
    
            </form>

<div class="grid-cols-1 font-medium px-8 mt-8 "> <hr class="w-full  h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">
    <h2 class="text-center "><span
        class="text-white bg-green-800 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-yellow-800 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Documentation</span></h2>
   <br/>
    <pre class="grid gap-4 mb-4 sm:grid-cols-2 top-0 "> API-endpoint <h3 class="">POST /api/items</h3><p><kbd class="px-4 py-1.5 text-lg font-semibold text-gray-800 bg-gray-100 border border-gray-200 rounded-lg dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">Create</kbd><br/>Parameters are :</p>
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path d="M8 3a3 3 0 0 0-1 5.8v6.4a3 3 0 1 0 2 0V15c0-1.1.9-2 2-2h1a5 5 0 0 0 5-4.1 3 3 0 1 0-2.1-.1A3 3 0 0 1 12 11h-1a4 4 0 0 0-2 .5V8.8A3 3 0 0 0 8 3Z"/>
          </svg>
     <code class="border-gray-200 ">
id,
title,
company_name,
description,
location,
job_types,
age,
url,
imageUrl,
posted_on,
salary,
experience,
Requirements,
Shift_and_schedule,
degree,
benefits_perks,
posted_by,
task,
openings,
langauge,
skills,
key_responsibility,
Date,
email,
phone,
    </code></pre>
</div>
        </div>
       
    </div>
    <footer class="bg-gray-700 rounded-lg shadow m-4 dark:bg-gray-900">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span class="text-sm text-white sm:text-center dark:text-gray-400">© 2024 <a href="#"
                    class="hover:underline">The HRM™</a>&nbsp;&nbsp; All Rights Reserved.
            </span>
            <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white dark:text-gray-400 sm:mt-0">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6 ">About</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
    </footer>

</body>

</html>
